<html>
<head>
<title>Image Tempo - Login</title>
	<link rel="stylesheet" href="{{ url_for('static',filename= 'css/bootstrap.css' )}}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>



<link rel="stylesheet" href="{{ url_for('static',filename= 'css/main.css' )}}">
</head>
<body>
<!--header-->
<div id="wrap">
<nav class="navbar nav-bar-top" role="navigation">
    <div class="margin">
    <a href="#" class="btn btn-lg btn-white"><span class="glyphicon glyphicon-th-list "></span>
</a>
    <a href="index" class="btn btn-lg btn-white "><span class="glyphicon  glyphicon-globe logo">ImageTempo</span></a>
     <div class="btn-group">
   
       <a href="#" class="btn btn-large btn-white" >
       <span class="glyphicon glyphicon-envelope"></span> Support</a>
    </div>
    <div class="btn-group" style="float:right">
 <a href="#"  class="btn btn-large btn-white dropdown-toggle" data-toggle="dropdown">
      <div class="glyphicon glyphicon-user"></div> Login / SignUp
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="login"> <span class="glyphicon glyphicon-off"></span> Login</a></li>
      <li><a href="register"><span class="glyphicon glyphicon-plus-sign"></span> Register</a></li>
    </ul>
    </div>
</nav>


  <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="data_file">
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static',filename= 'file_upload/js/vendor/jquery.ui.widget.js')}}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ url_for('static',filename= 'file_upload/js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static',filename= 'file_upload/js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ url_for('static',filename= 'file_upload/js/jquery.fileupload-process.js') }}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ url_for('static',filename= 'file_upload/js/jquery.fileupload-image.js') }}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ url_for('static',filename= 'file_upload/js/jquery.fileupload-audio.js') }}"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ url_for('static',filename= 'file_upload/js/jquery.fileupload-video.js') }}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ url_for('static',filename= 'file_upload/js/jquery.fileupload-validate.js') }}"></script>
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = window.location.hostname === 'blueimp.github.io' ?
                '//jquery-file-upload.appspot.com/' : '/+upload';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        success: function (data) {
                
                //alert(JSON.stringify(data));
                $('#files').append('<img src="'+data.url+'" height="300" width="300" /><br>'+data.name+'<br>');
                $('#progress .progress-bar').hide('slow');
          
        },
        progressall: function (e,data) {
          $('#progress .progress-bar').show();
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
<a href="/logout">Logout</a>
</div>
<footer>
<div id="footer">
<div class="row footer-margin">
<div class="col-md-4">
 Copyrights <span class="glyphicon glyphicon-copyright-mark" ></span> 2014 www.imagetempo.com
 <br>
Developed By : <a href="http://www.mekaushik.com">Kaushik Gandhi</a>
</div>
<div class="col-md-4">
<b>About Us</b><br>
We believe simply in class. 
<br>
</div>

<div class="col-md-4">
  <b>Enquries and Report</b><br>
  <a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact Us </a>
  <br>Mail Us: <a href="mailto:admin@imagetempo.com"> admin@imagetempo.com</a>
</div>
</div>
</div>
</footer>
<script>
        if($("#alert1").html()=="")
        {
            $("#alert1").hide();
        }
    if($("#alert2").html()=="")
        {
            $("#alert2").hide();
        }
</script>
</body>
</html>

